@import url(fonts.css);
@import url(all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html,body{
    height:100%;
}
body{
    overflow-x:hidden; /*스크롤이 생기는걸 방지*/
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
    background:#222;
    color:#fff;
    margin:0;
    padding:0;
}
*{box-sizing:border-box;}
.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}
.white{
    color:white !important;
    text-decoration:none;
}
a.white:hover{
    color:#ededed;
}
.bold{
    font-weight:bold;
}
.d-block{
    display:block;
}
.d-inline{
    display:inline;
}
.d-inline-block{
    display:inline-block;
}




/* header */
header{
    background-color:#222;
    width:250px;
    height:100%;
    position:fixed; /*블록 요소는 height 기본값이 0이므로, position이 static/absolute인 경우에 자식 요소가 높이를 가지려면 부모인 html, body에 높이가 있어야 한다.*/
    top:0;
    left:0;
    border-right:1px solid #0275c6;
    z-index:998;
}
.header-in{
    position:relative;
    width:250px;
    height:242px;
    top:calc(50% - 121px);
    left:0;
}
header h1{
    font-family: 'Titillium Web', sans-serif;
    text-transform:uppercase;
    font-size:25px;
}
header h1::after{
    content:"";
    display:block;
    width:170px;
    margin:4px auto;
    border-bottom:1px solid #0275c6;
}/* h1아래 밑줄. h1가로보다 작으니까 after에 */
ul.gnb, ul.lnb{
    list-style-type: none;
    margin:0;
    padding:0;
}
ul.gnb>li{
    position:relative;
}
ul.lnb{
    position:absolute;
    padding:20px 10px;
    background:#fff;
    border-radius:5px;
    border:1px solid #222;
    top:10px;
    right:-70px;
    z-index:999;
    display:none;
}
ul.lnb li{
    border-bottom:1px dashed #222;
    padding-left:20px;
    padding-right:20px;
}
ul.gnb>li:hover ul.lnb{
    display:block;
}
ul.lnb a{
    text-decoration:none;
    display:block;
    color:#222;
    padding:5px;
}
ul.lnb a:hover{
    background:#0275c6;
    color:#fff;
}
header a.d-block{
    padding:5px 30px 5px;
    text-transform:uppercase;
}
header a.d-inline-block{
    margin-right:8px;
    margin-top:10px;
    padding:2px 8px;
    font-size:10px;
    border:1px solid #fff;
}
header a.d-inline-block:last-child{
    margin-right:30px;
}
.search{
    background:#0275c6;
    position:fixed;
    top:0;
    left:220px;
    display:inline-block;
    width:30px;
    height:30px;
}
.search i{
    font-size:20px;
}
.search{
    padding:5px 0;
}

/*slide*/
.slide{
    height:100%;
    width:calc(100% - 250px);
    margin-left:250px;
    /* background:url(../images/001.jpg) no-repeat center;
    background-size:cover; */
    position:relative;
}
.slide.video{
    width:120%;
}
.slide-inner{
    background:rgba(2,117,198,.7);
    position:absolute;
    width:40%;
    padding:20px 40px;
    bottom:80px;
    left:30px;
    z-index:1;
}
a.btn{
    color:#fff;
    text-transform:uppercase;
    border:1px solid #fff;
    text-decoration:none;
    padding:3px 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size:12px;
    font-weight:200;
}
a.btn:hover{
    background:#fff;
    color:#0275c6;
    font-weight:400;
}
.slide-inner h3{
    font-size:25px;
    margin-block-start:0.4em; /*기본적으로 제공되는 margin들을 조정*/
    margin-block-end:0.4em;
}
.slide-inner p{
    font-size:14px;
    font-weight:300;
    margin-block-start:0.4em; /*기본적으로 제공되는 margin들이 있다.*/
    margin-block-end:0.4em;
}


.container{
    width:calc(100% - 250px);
    margin-left:250px;
    padding-right:50px;
}
.row{
    display: flex;
    flex-direction:row;
}
.row::after{
    content:"";
    display:table;
    clear:both;
}
.col-7{
    width:70%;
    padding:15px;
    float:left;
}
.col-3{
    width:30%;
    padding:15px;
    float:right;
}
.col-4{
    width:33.3334%;
    padding:15px;
    float:left;
}
.col-4 img{
    max-width:100%;
    margin-bottom:30px;
}
.col-7>h1{
    font-family: 'Titillium Web', sans-serif;
    font-variant:small-caps;
    font-size:40px;
    margin-block-end:10px;
    text-align:center;
}
.col-7>h1::after{
    content:"";
    display:block;
    width:150px;
    margin:0 auto;
    border-bottom:5px double #0275c6;
}
.col-7 p{
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
    font-size:16px;
}

/*contents*/
.card{
    box-shadow:0px 0px 3px 0 rgba(2,117,198,.3),
               2px 2px 10px 0 rgba(255,255,255,0.2);
    margin-bottom:30px;
    overflow:hidden;
}
.card img{
    height:150px;
}
.blogbox p{
    text-align:left;
}
.imgbox{
    max-width:100%;
}
.card p{
    padding:20px;
    margin:0;
    text-align:left;
}
.blogbox{
    margin-bottom:40px;
}
.blogimg{
    width:100%;
    height:400px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.iconbox span{
    font-size:12px;
}
.date,.heart{
    margin-right:15px;
}/*인라인태그도 margin 왼쪽, 오른쪽은 먹힌다.*/
.date,.heart,.comment{
    vertical-align:top;
}

/***col-3***/
.col-right h2{
    margin-top:50px;
    padding-bottom:10px;
    border-bottom:1px solid #0275c6;
}

.label>div{
    float:left;
    text-transform:uppercase;
    border:1px solid #999;
    color:#999;
    font-size:12px;
    padding:5px;
    margin-right:5px;
}
.label>div:last-child{
    margin-top:5px;
}
.label::after{
    content:"";
    display:block;
    clear:both;
}
.label{
    margin-bottom:10px;
}

.post{
    position:relative;
    /* min-width:267px; */ 
    margin:15px 0;
}
.post img{
    width:100px;
    height: 110px;
}
.post h4,.post p{
    width:140px;
    float:right;
    margin:0;
    padding:0;
    line-height:15px;
    margin-block-start:0;
    margin-block-end:0;
}
.post h4{
    height:50px;
    position:absolute;
    top:0;
    left:105px;
}
.post p{
    height:70px;
    position:absolute;
    top:50px;
    left:105px;
    color:#999;
    font-size:12px;
}

/** labels **/
.label a{
    text-decoration:none;
    color:#fff;
    border:1px solid #fff;
    margin-right:5px;
    margin-top:15px;
    padding:5px 10px;
    display:inline-block;
    height:35px; /*한글과 영어의 높이가 달라 박스 높이가 달라지기때문*/
    vertical-align:middle; /*인라인 요소만 가능*/    
}
.label a:hover{
    background-color:#fff;
    color:#222;
    
}
.archive-ul ul{
    margin-right:20px;
    list-style-type:none;
}
ul.archive-ul{
    list-style-image: url(../images/arrow-down.png);
}
.archive>ul>ul{
    list-style-type:none;
}
.archive-ul li{
    padding-top:5px;
    padding-bottom:5px;
}
.archive-ul a{
    text-decoration:none;
    color:#fff;
    font-weight:300;
    line-height:20px;
}
.archive-ul-ul{
    list-style-image:none;
}

ul.post{
    list-style:none;
    margin:0;
    padding:0;
}
ul.post li{
    height:100px;
    margin-bottom:50px;
}
ul.post img{
    height:100px;
    float:left;
    margin-right:30px;
}

/***footer***/
footer{
    width:clac(100% - 250px);
    margin-left:250px;
    background-color:#0275c6;
    color:#fff;
    padding:30px;
}
footer h2{
    border-bottom:1px solid #fff;
    padding-bottom:8px;
}
a.top{
    font-size:40px;
    position:fixed;
    z-index:9999;
    right:20px;
    bottom:20px;
    color:#ededed;
}
a.top:hover{
    color:#fff;
}